.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-image-1 {
  width: 1233px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1 .u-image-1 {
    height: 447px;
    margin-top: 0;
    margin-bottom: 14px;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }
}