 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/2caae017a61202f87bc36fab57e85a63.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1 .u-group-1 {
  width: 752px;
  min-height: 531px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 89px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 122px 20px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 97px;
  transform-origin: left center 0px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 248px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  margin: 30px auto 0 20px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-radius: 4px;
  background-image: none;
  margin: -46px auto 0 180px;
}

.u-section-1 .u-image-1 {
  width: 348px;
  height: 571px;
  margin: -532px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    width: 620px;
    position: relative;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 80px;
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-right: 158px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    width: 157px;
    height: 41px;
    border-radius: 4px;
  }

  .u-section-1 .u-btn-2 {
    position: relative;
    margin-left: 181px;
  }

  .u-section-1 .u-image-1 {
    width: 287px;
    height: 474px;
    position: relative;
    margin-top: -454px;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 61px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 121px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    width: 120px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 139px;
  }

  .u-section-1 .u-image-1 {
    width: 289px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 412px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 91px;
  }

  .u-section-1 .u-btn-1 {
    width: 113px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 104px;
  }

  .u-section-1 .u-image-1 {
    width: 206px;
    height: 341px;
    margin-top: -321px;
    margin-right: auto;
    margin-left: 334px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 535px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 48px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 57px;
  }

  .u-section-1 .u-btn-1 {
    width: 94px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 66px;
    padding: 10px 23px 10px 22px;
  }

  .u-section-1 .u-image-1 {
    width: 173px;
    margin-right: 12px;
    margin-bottom: 60px;
    margin-left: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 45px auto 45px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 565px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 45px 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  margin: 15px 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 77px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 30px 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 394px;
  height: 275px;
  margin: 30px 156px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-text-4 {
  background-image: none;
  margin: 40px 20px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 30px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 56px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 237px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
    height: 230px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 245px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 189px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 189px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-1 {
  min-height: 189px;
  background-image: url("https://assets.nicepagecdn.com/139194b4/4306981/images/Logo-ISO.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 189px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-2 {
  width: 152px;
  height: 117px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 189px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 189px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-3 .u-image-1 {
    min-height: 156px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 156px;
  }

  .u-section-3 .u-image-2 {
    width: 141px;
    height: 109px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 156px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-3 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-3 .u-image-2 {
    width: 108px;
    height: 83px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1796px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 669px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 669px;
  }

  .u-section-3 .u-image-1 {
    min-height: 595px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 595px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 595px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 595px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-3 .u-image-1 {
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 375px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 188px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 681px;
}

.u-section-4 .u-group-1 {
  width: 817px;
  min-height: 164px;
  margin: 38px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px 20px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 20px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 74px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 15px;
}

.u-section-4 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px auto 45px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 201px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 45px 0 104px;
}

.u-section-4 .u-text-4 {
  font-size: 0.9375rem;
  margin: 13px 45px 20px 104px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 201px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 45px 0 104px;
}

.u-section-4 .u-text-6 {
  font-size: 0.9375rem;
  margin: 13px 45px 20px 104px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 201px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 13px 0 104px;
}

.u-section-4 .u-text-8 {
  font-size: 0.9375rem;
  margin: 13px 45px 20px 104px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 377px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 45px 0 104px;
}

.u-section-4 .u-text-10 {
  font-size: 0.9375rem;
  margin: 13px 30px 0 104px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 674px;
    position: relative;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 61px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-4 .u-icon-2 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    margin-right: 11px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 197px;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-10 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 516px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 47px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -66px;
    margin-right: -20px;
    margin-left: 94px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 484px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 44px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 6px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 21px;
    margin-left: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 37px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 4px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 0;
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 13px;
    margin-left: 90px;
  }
} .u-section-5 {
  min-height: 660px;
}

.u-section-5 .u-gallery-1 {
  height: 220px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 0px;
  grid-template-columns: repeat(3, auto);
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-5 .u-back-image-1 {
  width: 500px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-5 .u-back-image-2 {
  width: 500px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-5 .u-back-image-3 {
  width: 500px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-5 .u-back-image-4 {
  width: 500px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-5 .u-back-image-5 {
  width: 500px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-5 .u-back-image-6 {
  width: 500px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-2 {
  height: 220px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-2 {
  grid-template-columns: repeat(4, auto);
}

.u-section-5 .u-gallery-item-7 {
  margin-right: 0;
}

.u-section-5 .u-back-image-7 {
  width: 500px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-8 {
  margin-right: 0;
}

.u-section-5 .u-back-image-8 {
  width: 500px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-9 {
  margin-right: 0;
}

.u-section-5 .u-back-image-9 {
  width: 500px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-10 {
  margin-right: 0;
}

.u-section-5 .u-back-image-10 {
  width: 500px;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-3 {
  height: 220px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-3 {
  grid-template-columns: repeat(4, auto);
}

.u-section-5 .u-gallery-item-11 {
  margin-right: 0;
}

.u-section-5 .u-back-image-11 {
  width: 500px;
}

.u-section-5 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-12 {
  margin-right: 0;
}

.u-section-5 .u-back-image-12 {
  width: 500px;
}

.u-section-5 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-13 {
  margin-right: 0;
}

.u-section-5 .u-back-image-13 {
  width: 500px;
}

.u-section-5 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-14 {
  margin-right: 0;
}

.u-section-5 .u-back-image-14 {
  width: 500px;
}

.u-section-5 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-inner-2 {
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 47px auto 47px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 614px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-1 {
  object-position: 0% 50%;
  width: 483px;
  height: 335px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 433px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 40px 20px 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 20px 0;
}

.u-section-6 .u-line-1 {
  width: 73px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 20px;
}

.u-section-6 .u-text-3 {
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 326px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-line-1 {
    width: 60px;
    margin-left: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 250px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-line-1 {
    width: 46px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 43px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 236px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 36px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 544px;
}

.u-section-7 .u-group-1 {
  width: 781px;
  min-height: 194px;
  margin: 60px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-7 .u-line-1 {
  width: 72px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 20px;
}

.u-section-7 .u-gallery-1 {
  height: 200px;
  width: 989px;
  margin: 20px auto 60px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-7 .u-group-1 {
    width: 644px;
    position: relative;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-line-1 {
    width: 59px;
  }

  .u-section-7 .u-gallery-1 {
    height: 190px;
    width: 940px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-7 .u-group-1 {
    width: 493px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-line-1 {
    width: 45px;
  }

  .u-section-7 .u-gallery-1 {
    height: 327px;
    width: 720px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-7 .u-group-1 {
    width: 462px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-line-1 {
    width: 43px;
  }

  .u-section-7 .u-gallery-1 {
    height: 981px;
    width: 540px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-line-1 {
    width: 36px;
  }

  .u-section-7 .u-gallery-1 {
    height: 618px;
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 620px;
}

.u-section-8 .u-form-1 {
  height: 577px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 533px;
  margin: 22px auto;
}

.u-section-8 .u-text-1 {
  margin-left: 0;
}

.u-section-8 .u-form-group-5 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  width: 100%;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    width: 340px;
  }
} .u-section-9 {
  min-height: 500px;
}

.u-section-9 .u-map-1 {
  width: calc(((100% - 1140px) / 2) + 1264px);
  left: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-map-1 {
    width: 940px;
    left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-map-1 {
    width: 340px;
  }
}